/* login */
body {
    height: 100vh;
    background-size: cover;
    background-color: #0E3854;
}

.form {
    border-radius: 10px;
    color: #626B83;
    background-color: #D9E4F5;
    height: 40px;
    width: 464px;
}

.submit {
    border-radius: 10px;
}

.login-admin-back-button {
    width: 35px;
    height: 35px;
    background-color: white;
}

.login-admin-back-button i {
    color: #3f3f3f;
}
