.navbar {
    background-color: #0E3854;
}
.nav-item{
    margin-right: 30px;
    font-weight: 200;
}
.nav-item.active a {
    color: rgb(228, 185, 106) !important;
}
.ratatengah {
    margin-left: 300px;
    margin-top: 50px;
}

.col {
    font-weight: 300 !important;
}

.journal-latest-update {
    color: #212529;
    text-decoration: none;
}

/* Carousel */
.carousel {
    height: 450px;
    background-color: #0E3854;
    color: white;
}

.carousel-image {
    width: 240px;
    height: 340px;
    align-content: center;
}

.h3 {
    font-weight: 300 !important;
}

.content-page-title {
    padding: 5px 20px;
    border-bottom: solid 2px #0E3854;
    text-align: center;
    width: auto;
}

.figure-width {
    width: 180px;
}

/* Footer */
footer {
    background-color: #0E3854;
}

footer svg {
    fill: white;
    height: 30px;
    width: 30px;
}

